body{
    text-align: center;
    margin: 0px;
    font-family: 'Merriweather', sans-serif;
}
.titulo{
    padding-top: 50px;
    margin: 0px;
    border: 10px;
    background-color: #8EC3B0;
}
.curriculo{
    padding: 50px;
    margin: 0px;
    background-color: #BCEAD5;

}
.contato{
    padding-top: 50px;
    margin: 0px;
    background-color: #DEF5E5;
}
h1{
    margin: 0 auto; 
    font-family: 'Great Vibes', cursive;
}
h4{
    width: 50%;
    margin: 0 auto; 
}
img{
    padding: 50px;
}

